.item{
    height:100px;
    background-color: aqua;
    margin:10px;
    text-align: center;
}
.grid-container{
    display:grid;
    width:100%vw;
    grid-template-columns: auto auto auto auto auto auto auto auto ;
    grid-template-columns:auto auto auto auto auto auto ;
}
.item-1{

    grid-row-start:1;
    grid-row-end :4;
    grid-column-start:1;
    grid-column-end: 4;

    /* height:100px; */
    background-color: aqua;
    margin:10px;
    text-align: center;
}