body{
    background-color: yellow;
}
.button{
    background-color: aqua;
}

@media only screen and (max-width:300px){

    /* and ekata passe space ekk aniwaryay */
    body{
        background-color: red;
    }
    .button{
        display:none;
    }

    /* max-width=>        0--------->300px */

}
@media only screen and (min-width:500px){
    body{
        background-color: bule;
        .text{
        /* display: none; */
            color:white
        }

        /* min-width=>    0<---------100000000000 */
    }
}